
services:
#frontend service
  frontend:
    image: 'anand7254/golden-pearl-frontend'
    # build:
    #   context: .
    #   args:
    #     NEXT_PUBLIC_API_URL: '${NEXT_PUBLIC_API_URL}'
    container_name: frontend
    environment:
      NEXT_PUBLIC_API_URL: '${NEXT_PUBLIC_API_URL}'
      BACKEND_URL: '${BACKEND_URL}'
      REDIS_URL: '${REDIS_URL}'
      EMAIL_USER: '${EMAIL_USER}'
      EMAIL_PASS: '${EMAIL_PASS}'
    ports:
      - '80:3000'
    depends_on:
      - backend
      - redis
    networks:
      - spring-boot-mongo-net

  #backend service
  backend:
    image: 'anand7254/golden-pearl-backend'
    build:
      context: ./backend
    ports:
      - '8082:8082'
    container_name: backend
    environment:
      # Secrets should be loaded from a .env file, not hardcoded.
      SPRING_DATA_MONGODB_URI: '${SPRING_DATA_MONGODB_URI}'
      SPRING_DATA_MONGODB_DATABASE: '${SPRING_DATA_MONGODB_DATABASE}'
      REDIS_HOST: '${REDIS_HOST}'
      REDIS_PORT: '${REDIS_PORT}'
      FRONTEND_URL: '${FRONTEND_URL}'
      MAIL_USERNAME: '${MAIL_USERNAME}'
      MAIL_PASSWORD: '${MAIL_PASSWORD}'
    depends_on:
      - redis
    networks:
      - spring-boot-mongo-net
    healthcheck:
      test: ["CMD", "curl", "-fs", '${NEXT_PUBLIC_API_URL}/actuator/health']
      interval: 5s         # Check frequently for a smoother bar
      timeout: 5s
      retries: 10          # Give it plenty of chances
      start_period: 40s

# Redis service for caching
  redis:
    image: 'redis:7.2'
    container_name: redis
    # restart: always
    volumes:
      - redis_data:/data
    networks:
      - spring-boot-mongo-net

networks:
  spring-boot-mongo-net:

volumes:
  redis_data: